.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

section {
}

section.order-form {
  background-color: #ccc;
  width: 20%;
}

section.contact-form {
  background-color: #ccc;
  width: 20%;
}

section.menu-list {
  background-color: #ccc;
  width: 20%;
}
