.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

section {
}

section.order-form {
  background-color: #ccc;
}

section.contact-form {
  background-color: #ccc;
  height: 295px;
  margin-top: 10px;
}

section.menu-list {
  background-color: #ccc;
}

span.price {
  float: right;
}

ul {
  list-style: none;
}

li.menu-item-name {
  font-size: 22px;
}
